**

!docker/
!docker/**

!kpm-gateway/
!kpm-gateway/target/
!kpm-gateway/target/*.jar

!kpm-iam-service/
!kpm-iam-service/target/
!kpm-iam-service/target/*.jar

!kpm-resource-service/
!kpm-resource-service/target/
!kpm-resource-service/target/*.jar

!kpm-project-service/
!kpm-project-service/target/
!kpm-project-service/target/*.jar

!kpm-customer-service/
!kpm-customer-service/target/
!kpm-customer-service/target/*.jar

!kpm-task-service/
!kpm-task-service/target/
!kpm-task-service/target/*.jar

!kpm-order-service/
!kpm-order-service/target/
!kpm-order-service/target/*.jar

!kpm-file-service/
!kpm-file-service/target/
!kpm-file-service/target/*.jar

!kpm-analytics-service/
!kpm-analytics-service/target/
!kpm-analytics-service/target/*.jar

!kpm-integration-service/
!kpm-integration-service/target/
!kpm-integration-service/target/*.jar

!kpm-notification-service/
!kpm-notification-service/target/
!kpm-notification-service/target/*.jar
